@font-face {
    font-family: 'Outfit';
    src: url('/Outfit/Outfit-VariableFont_wght.ttf') format('ttf'),
         url('/Outfit/Outfit-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* *{
    font-family: 'Outfit', sans-serif;
} */

/* .zipcodemodal .modal-content, .pillmodal  .modal-content{
    padding: 0px !important;
    border-radius: 0px !important;
}
.zipcodemodal .modal-header, .pillmodal .modal-header {
    padding: 10px !important;
    background: #e5e5e5 !important;
    border-radius: 0px !important;
}
.zipcodemodal, .pillmodal{
    width: 320px !important;
}
.zipcodemodal #zipcode-form input {
    border-radius: 0px !important;
    box-shadow: none !important;
    border-color: #00000052;
}
.zipcodemodal #zipcode-form input:focus {
    border-color: #000000aa !important;
}
.zipcodemodal #zipcode-form button {
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 900;
    background: #40D109 !important;
    color:#08472a;
}
h5#zipcodeModalLabel {
    font-weight: 700;
} */
*{
    font-family: sans-serif;
}



.modal-heading {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -1px;
}
.modal-label {
    font-size: 20px;
    font-weight: 500;
    color: #006838 !important;
    letter-spacing: -1px;
}
.zipcode-field {
    padding: 13px !important;
    font-size: 15px !important;
    border: 2px solid #004827 !important;
    border-radius: 0px !important;
}
.zipcode-field:focus {
    box-shadow: none !important;
    border: 2px solid #40D100 !important;
}
.zipcode-submit {
    background: #006838;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 0px;
    border: 0;
    height: 100%;
    box-shadow: 4px 4px 0px -1px #40D100;
}
.zipcodemodal .modal-content {
    border-radius: 0px;
    padding: 20px;
    border: 3px solid #00800040;
}
.modal-para{
    font-size:12px;
}

/* .cart-col{
    background: #006838;
    padding: 25px !important;
    color: white;
} */
.dimensions-table td, .frequency-table td, .additional-services-table td, .total-price-table td{
    text-align: end;
}
.dimensions-div, .additional-services-div {
    padding: 10px;
    border: 1px dashed #40D100;
}
.frequency-div h3 {
    font-size: 18px;
    margin-bottom: 0px !important;
}
.summary-labels {
    font-size: 15px;
    letter-spacing: 0;
    font-weight: 600;
    color: #0c3623;
}
.total-price-table th {
    font-size: 20px;
    font-weight: 500;
}
.total-price-table td {
    font-size: 35px;
}




/* Container of suggestions */
.pac-container {
    z-index: 10000 !important; /* Ensure it appears above modals if needed */
    background-color: #fff !important;
    border-radius: 0px !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15) !important;
    font-family: sans-serif !important;
    padding: 0px !important;
    border: 2px solid black !important;
  }
  
  /* Each suggestion item */
  .pac-item {
    padding: 10px !important;
    border-bottom: 1px solid black !important;
    color: #333 !important;
    cursor: pointer !important;
  }
  
  .pac-item:hover {
    background-color: #f0f0f0 !important;
  }
  
  /* Main text of address */
  .pac-item .pac-item-query {
    font-weight: 600 !important;
    color: #000 !important;
    font-size:14px !important;
  }
  #error{
    font-weight: 700;
    font-size: 14px;
    text-transform: math-auto;
  }
  #initial-form h2{
    font-size: 17px !important;
    font-weight: bold;
    text-align: center;
  }
  #initial-form label {
    font-size: 14px;
    font-weight: 600;
    display: inline;
}
.field-group {
    margin-bottom: 10px;
}
#initial-form input:not([type="radio"]){
    display: block !important;
    width: 100%;
    font-size: 16px;
    padding: 5px 5px;
}
#initial-form input[type="checkbox"] {
    display: inline !important;
    width: auto !important;
    margin-right: 4px;
}
.field-group select {
    display: block !important;
    width: 100%;
    font-size: 16px;
    padding: 9px 5px;
}
#initial-form label span {
    font-weight: 400;
    margin-left: 17px;
    color: #484848;
}
#initial-form{
    width: 420px !important;
    max-width: 420px;
    margin: auto;
}
.pill-btn {
    background: #016738;
    color: white;
    border: 0;
    border-radius: 50px;
    padding: 2px 30px;
    margin: 5px 0px;
    font-size: 13px;
}

span.seperator {
    color: #d2d2d2;
}
.popup-field-group select {
    width: 100%;
    display: block;
    border-radius: 0;
    padding: 10px;
    margin-bottom: 10px;
    background: #edf0f4;
    border-color: #bfbaba;
}
.popup-field-group select:focus-visible{
    outline: none !important;
}
.popup-form-btn {
    display: block;
    width: 100%;
    padding: 8px;
    background: #016738;
    color: white;
    border: 0;
}
.field_group_label {
    margin-top: 20px !important;
}
.recurring-message{
    background: rgba(0,170,68,.1);
    padding: 8px;
}
.recurring-message h4{
    font-size:13px;
    font-weight: 600;
}
.recurring-message span{
    background: #016738;
    color: white;
    font-size: 11px;
    padding: 2px 10px;
    font-weight: bold;
    transform: skew(-10deg);
}
.recurring-message p{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0px;
}

.price-estimate-row p {
    font-size: 16px;
    font-weight: 400;
}
.continue-btn.w-100 {
    background: #016739;
    color: white;
    font-size: 17px;
    border: 0px;
    padding: 7px 10px;
    margin-top: 10px;
}
.field-group select:focus-visible{
    outline: none;
}

/* Quote Extended Page Styling */

.quote-sidebar #initial-form {
    margin: auto;
    width: 100% !important;
    max-width: 100%;
}
.quote-sidebar #initial-form .options-field-group label{
    font-weight: 500 !important;
    font-size: 15px !important;
}
.quote-sidebar{
    width: 25%;
    padding: 30px 30px 150px;
    max-width: 25%;
    height: 100vh;
    border-right: 1px solid #d3d3d36b;
    position: fixed;
    overflow-y: scroll;
    left: 0;
}

/* .main-content{
    margin-left: 25%;
} */
.more-options {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}
.options-field-group {
    margin-top: 8px;
}
.timeslotstext {
    border: 1px solid #016738;
    display: inline-block;
    color: #03502d;
    font-weight: 400;
    border-radius: 4px;
    margin: 0 5px 10px 0px;
    width: 87px;
    text-align: center;
    padding: 4px 0px;
    cursor: pointer;
    font-size: 13px;
}
.timeslotstext:hover {
   
    color: #fff;
    background: #03502d;
}
.notavailabletext {
    border: 1px solid #d3d3d359;
    display: block;
    color:rgb(84 84 84 / 51%);
    font-weight: 400;
    border-radius: 1px;
    margin-bottom: 5px;
    background: #d3d3d359;
    text-align: center;
    padding: 4px 0px;
}
.cleanernames {
    font-size: 20px;
    font-weight: 500;
}
.cleaner-profile-box img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
.cleaner-profile-box {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 20px;
}
.cleaner-profile-selected {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.cleaner-profile-selected img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.cleaner-name-box h4, .cleaner-name-box p {
    margin: 0;
}
.cleaner-name-box h4{
    font-size: 18px;
}
/* .selected-items-container {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 1px #d3d3d357;
} */
.selected-items-table td{
    color:#929292;
    font-size: 15px;
    font-weight: 400;
}
.addon-popup-btn {
    background: none;
    color: #198754;
    border: none;
    padding: 0;
}
.addon-popup-btn:hover {
   color:#40D109 !important
}

.hero-section {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
        url('https://images.unsplash.com/photo-1600585152220-90363fe7e115?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    text-align: center;
}

.section-title {
    position: relative;
    font-weight: 600;
    margin-bottom: 80px;
}

.section-title:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: var(--primary-green);
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.leaf-decoration {
    position: absolute;
    opacity: 0.2;
    color: var(--primary-green);
    font-size: 5rem;
    z-index: -1;
}

.leads {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: rgb(41, 41, 41);
    margin-bottom: 35px;
}

.card-text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.list-group li {
    padding: 10px 0px;
}

@media only screen and (max-width:992px) {
    .btn-primary {
        font-size: 16px;
    }

    .hero-section {
        padding: 100px 10px;
    }

    .services {
        padding: 60px 10px !important;
    }

    .section-title {
        margin-bottom: 50px !important;
    }
}

.services {
    padding: 100px 10px;
}
.leaf-icon {
    color: var(--primary-green);
    font-size: 1.2rem;
    margin: 0 5px;
}

.service-card {
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    overflow: hidden;
    background: #fff;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card.shadow {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.service-card img {
    border-radius: 15px;
    height: 240px;
    object-fit: cover;
}

.card-title {
    font-weight: 600;
    color: #2d6a4f;
    margin-bottom: 15px;
    margin-top: 5px;
}

.leaf-icon {
    color: #2d6a4f;
    margin-right: 6px;
}

ul.list-unstyled li {
    margin-bottom: 10px;
    font-size: 1rem;
}
.instant-btn{
    background: #40D109 !important;
}
.instant-btn {
    background: #40D109 !important;
    padding: 20px 35px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.continuebtn {
    background: #016738;
    color: white;
    border: 0;
    width: 100%;
    padding: 15px 0px;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px #c1c1c1;
}
.loginbtn{
    background: #40d100;
    color: white;
    border: 0;
    width: 100%;
    padding: 12px 0px;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px #c1c1c1;
}

#cleanersContainer .card-body {
    border-radius: 7px;
    box-shadow: 4px 4px 1px 0px #e0e0e0;
    border: 1px solid #b6b7b8;
    transition: .2s all ease-in-out;
}
#cleanersContainer .card-body:hover {
    border-radius: 7px;
    box-shadow: 4px 4px 1px 0px #40d100;
}
span.price-value {
    font-size: 30px;
    font-weight: 500;
    color: #016738;
}
.avialable-badge {
    background: #016738;
    padding: 4px 18px;
    border-radius: 20px;
    font-size: 12px;
    color: white;
    font-weight: 500;
}
.base_price {
    font-size: 23px;
    color: #aeaeae;
    margin-right: 3px;
    text-decoration: line-through;
}
.checkout-box {
    box-shadow: 0px 0px 20px 2px #8080801c;
    padding: 30px !important;
}
.selected-items-container {
    font-size: 16px;
}
.selected-items-table tr {
    border-bottom: 1px solid #d3d3d37d;
}
.selected-items-table {
    line-height: 2em;
}

.form-group-field {
    position: relative;
}

.addons-div {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 10px;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: auto;
}

.more-options {
    margin-bottom: 5px;
}
.more-options label{
    margin-left: 4px;
}
form.filters-form {
    display: flex;
    align-items: end;
    justify-content: center;
    column-gap: 8px;
    padding: 0px 15px 25px;
    box-shadow: 0px 0px 20px #d3d3d359;
    border-radius: 6px;
    background: #40d1000a;
    border: 1px solid #80808014;
}
.timeslotstext.selected {
    background-color: #40d100;
    color: white;
    border-color: #40d100;
}
.form-group-field select {
    font-size: 15px;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid lightgray;
}
button.pill-btn {
    background: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 10px;
    color: black;
    margin: 0;
}
button#toggleAddons {
    background: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 8px 10px;
}
.date-div {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
input#dateInput {
    width: 330px !important;
    margin-right: 10px;
    padding: 7px 10px;
    font-size: 20px;
}

.cart-col {
    border-left: 1px solid #d3d3d361;
    padding: 30px;
}
.dimensions-div, .additional-services-div {
    border: 1px solid #8080808c;
    box-shadow: 4px 4px 1px 0px #40d114c7;
    border-radius: 4px;
}
.cart-col {
    padding: 30px !important;
}
.frequency-div {
    border-radius: 4px;
    border: 1px solid gray;
    padding: 10px;
    background: #40d100;
    color: white;
    box-shadow: 4px 4px 1px 0px #0f5434;
}



body {
    background: #f4f6f8;
    font-family: 'Segoe UI', sans-serif;
  }

  .summary-wrapper {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    animation: fadeIn 0.6s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(30px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .left-panel {
    background: #006838;
    color: white;
    padding: 30px;
  }

  .right-panel {
    padding: 30px;
  }

  .section-title {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 20px;
  }

  .icon-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .icon-item i {
    margin-right: 8px;
    color: #3FD100
  }

  .price-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 15px;
  }

  .price-total {
    font-weight: bold;
    font-size: 18px;
    border-top: 2px solid #dee2e6;
    padding-top: 12px;
  }
ol, ul {
  padding-left: 0rem;
}
.additional-list li {
list-style: none;
margin-left: 0;
margin-bottom: 6px;
font-size: 14px;
color: #fff;
text-align: left;
position: relative;
padding-left: 20px; /* space for the arrow */
}

.additional-list li::before {
content: "»";
position: absolute;
left: 0;
color: #fff;
font-weight: bold;
}  

 .btn-checkout {
font-size: 16px;
padding: 12px 20px;
border-radius: 12px;
background-color: #3FD100;
border: none;
color: #fff;
transition: background 0.3s ease;
}
.login-form input, .register-form input {
    padding: 10PX;
    border-radius: 4px;
    border: 1px solid lightgray;
    color: black;
}
.error-div {
    background: #bf0000;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 21px;
    font-weight: 600;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 2;
}
.date-button {
    border: 1px solid gray;
    border-radius: 6px;
    background: white;
    padding: 10px 0px;
    font-size: 13px;
    width: 72px;
    text-align: center;
}

.btn-selected {
    background: #016539;
    border: #016539;
    color: white;
}
#prevDay, #nextDay {
    height: 63.59px;
    background: #d3d3d35e;
    border: 1px solid #d3d3d35e;
}
#prevDay:hover, #nextDay:hover{
    background: black;
    color: white;
    border-color: black;
}
.btn-not-selected.disabled {
    border: 1px solid lightgray;
    background: transparent;
}
.form-group-field label {
    font-size: 13px;
    font-weight: 600;
    color: #016539;
}
.more-options label{
    color: #434343;
}
.form-group-field button, .form-group-field select {
    border-radius: 6px !important;
    background: #fff !important;
    padding: 7px 10px !important;
    font-size: 14px;
    line-height: 1.3em;
}
.form-group-field{
    flex: 1;
}
a.nav-link {
    font-weight: 800 !important;
    color: black;
}

.btn-checkout:hover {
background-color: #34b800; /* Slightly darker green on hover */
}

  @media (max-width: 768px) {
    .row-cols-md-2 {
      flex-direction: column;
    }

    .left-panel {
      border-bottom: 1px solid #dee2e6;
    }
  }